*{
    margin: 0;
    padding: 0;

}


.container{
    width: 900px;
    height: 100px;
    background-color: blueviolet;
}

.row1{
    height: 40px;
    width: 900px;
    background-color: antiquewhite;
}
.col1,.col2,.col3{
    height: 40%;
  
}
.col1{
    width: 200px;
    background-color: brown;
    float: left;
  
}
.col2{
        width: 300px;
    background-color: rgb(148, 25, 107);
    float: left;
  
}
.col3{
       width: 400px;
    background-color: rgb(46, 46, 51);
    float: right;
  
}

.row2{
    width: 900px;
    height: 20%;
    background-color: aqua;
}

.row3{
    width: 900px;
    height: 40%;
}

.c1{
    width: 400px;
    height: 50%;
    background-color: darkblue;
}

.c2{
    width: 500px;
    height: 50%;
    background-color: chartreuse;
}